body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 175px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #555;
    background-color: transparent;
    color: #ffffff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.correct {
    background-color: green;
}

.present {
    background-color: orange;
}

.absent {
    background-color: #333;
}

#word-display {
    margin-bottom: 20px;
    font-size: 18px;
}

.grid {
    display: grid;
    gap: 15px;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.keyboard {
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.key {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 0 5px;
    text-transform: uppercase;
}
.keyS {
    width: 100px;
    height: 50px;
    font-size: 18px;
    margin: 0 5px;
    text-transform: uppercase;
}
button {
    cursor: pointer;
}
/* Modal styling */

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
    background-color: #010000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Max width of the modal */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
